.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.btnNav{
  height: 50px;
  width: 100px;
  margin: 20px;
  font-size: 15px;
  border: 1px solid  black;
  cursor: pointer;
  background: rgb(84, 192, 84);
  border-radius: 15px;
}

.btnNav:hover{
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.main{
  width: 100%;
  margin-top: 20px;
  height: auto;
  border: 1px solid purple;
}

.body{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding: 1em;
  margin-top: 20px;
}

.border{
  border: 1px solid black;
}

.body h2{
  text-align: center;
  vertical-align: middle;
}

.dronesInfo{
  width: 50%;
  height: 500px;
  background: wheat;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
} 

.underline{
  margin-top: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #000;
  font-style: inherit;
}

.h1Style{
  font-size: 30px;
  font-style: inherit;
}

.measurementsUL {
  list-style-type: none;
  padding: 1em;
  border: 1px solid black;
  width: 50%;
  margin: 20px auto;
}

.pannel{
  width: 50%;
  height: 500px;
  background: none;
  border-radius: 15px;
  border: 1px solid black;
  text-align:center;
}

.pannelBtn{
  height: 50px;
  width: auto;
  margin: 20px 20px;
  font-size: 15px;
  cursor: pointer;
  background: rgb(84, 192, 84);
  border-radius: 15px;
  border: 1px solid black;
}

.pannelBtn:hover{
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.usePannel h2{
  text-decoration: underline;
}

.usePannel{
  width: 30%;
  text-align:center;
  height: auto;
  margin: 20px auto;
}

.googleMap{
  width: 80%;
  height: 100%;
  padding: 1em;
  margin: 0 auto;
  position: relative;
}

h2{
  margin: 0px !important;
}

.aNav{
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: green;
  border: 1px solid black;
  padding: 0.2em;
  border-radius: 15px;
  background: greenyellow;
}

.h1Loading{
  text-align: center;
}

.requestDronesMap{
  margin:0 auto !important;
}

.test{
  text-align:center;
}

.separator{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 50px;
}

